@using Microsoft.AspNetCore.Identity
@using Projet_Final.Areas.Identity.Data

@inject SignInManager<ApplicationUtilisateur> SignInManager
@inject UserManager<ApplicationUtilisateur> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (await UserManager.IsInRoleAsync(user, "Admin"))
    {
        <ul class="navbar-nav">
            <!--Gestion Réservation Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Gestion Réservation
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Index</a></li>
                    <li><a class="dropdown-item" asp-controller="Reservations" asp-action="Create">Créer</a></li>
                    <li><a class="dropdown-item" asp-controller="Reservations" asp-action="Delete">Supprimer</a></li>
                    <li><a class="dropdown-item" asp-controller="Reservations" asp-action="Edit">Modifier</a></li>
                </ul>
            </li>
            <!--Gestion Voiture Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Gestion Voitures
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Voitures" asp-action="Index">Index</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Voitures" asp-action="Create">Créer</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Voitures" asp-action="Delete">Supprimer</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Voitures" asp-action="Edit">Modifier</a></li>
                </ul>
            </li>
            <!--Gestion Clients Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    Gestion Clients
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Index</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Create">Créer</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Delete">Supprimer</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Edit">Modifier</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Gestion réservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Gestion clients</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bonjour @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Se déconnecter</button>
                </form>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">Voir réservations</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bonjour @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Se déconnecter</button>
                </form>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Se Connecter</a>
        </li>
    </ul>
}
