@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-8 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">
                            Se connecter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">
                            Créer un nouveau compte
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="col-12 my-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const pageActuelle = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (pageActuelle.toLowerCase().indexOf($this.attr('href').toLowerCase()) != -1{
                    $this.addClass('active');
                }
            })
        })
    </script>
}
