@model Projet_Final.Models.Voiture

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marque" class="control-label"></label>
                <input asp-for="Marque" class="form-control" />
                <span asp-validation-for="Marque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modèle" class="control-label"></label>
                <input asp-for="Modèle" class="form-control" />
                <span asp-validation-for="Modèle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Année" class="control-label"></label>
                <input asp-for="Année" class="form-control" />
                <span asp-validation-for="Année" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixJournalier" class="control-label">Prix Journalier</label>
                <input asp-for="PrixJournalier" class="form-control" />
                <span asp-validation-for="PrixJournalier" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstDisponible" /> @Html.DisplayNameFor(model => model.EstDisponible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ImageVoiture" class="control-label">Sélectionner une image</label>
                <input type="file" name="ImageVoiture" class="form-control" required accept=".jpg, .jpeg, .png, .gif" />
                <span asp-validation-for="ImageVoiture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();

                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("Create", "Voitures")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        if (data.redirectUrl) {
                            window.location.href = data.redirectUrl;
                        } else {
                            alert('La redirection après la sauvegarde a échoué.');
                        }
                    },
                    error: function (xhr, status, error) {
                        var jsonResponse = xhr.responseJSON;
                        if (jsonResponse && jsonResponse.errors) {
                            var errorMessages = Object.values(jsonResponse.errors).flat().join('\n');
                            alert('Erreurs lors de la soumission du formulaire:\n' + errorMessages);
                        } else if (jsonResponse && jsonResponse.error) {
                            alert(jsonResponse.error);
                        } else {
                            alert('Une erreur s\'est produite lors de la soumission du formulaire.');
                        }
                    }
                });
            });
        });
    </script>
}