@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans notre service de location de voitures</h1>
    <p>Découvrez notre large gamme de véhicules disponibles pour la location.</p>
    <a class="btn btn-primary" asp-controller="Voitures" asp-action="Index">Voir les voitures disponibles</a>
</div>
