@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>Merci d'avoir confirmé votre email.</p>
    <p>Si vous n'êtes pas automatiquement redirigé, veuillez <a href="~/">cliquez ici</a> pour retourner à la page d'accueil.</p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
