@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de réinitialisation du mot de passe oublié";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez vérifier votre e-mail pour réinitialiser votre mot de passe.
</p>
