@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Réinitialiser le mot de passe";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <hr />

        <form method="post" id="resetPasswordForm">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" id="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Veuillez saisir votre mot de passe." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" id="confirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Veuillez confirmer votre mot de passe." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <span id="passwordNonCorrespondants" class="text-danger" style="display: none;">Les mots de passe ne correspondent pas.</span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary" onclick="return validerMotsDePasse()">Réinitialiser</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validerMotsDePasse() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var mismatchMessage = document.getElementById("passwordNonCorrespondants");

            if (password !== confirmPassword) {
                mismatchMessage.style.display = "block";
                return false; // Empêche la soumission du formulaire
            }

            return true; // Soumet le formulaire si les mots de passe correspondent
        }
    </script>
}
