html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:Roboto, sans-serif;
}

/*Barre navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card li.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}


/*Css pour séparateur*/

.fancy {
    --b: 6px; 
    --w: 80px; 
    --g: 15px; 
    --c: #0B486B;
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: conic-gradient(from 45deg at left,var(--c) 25%,#0000 0) 0, conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: linear-gradient( #0000 calc(50% - var(--b)/2), var(--c) 0 calc(50% + var(--b)/2), #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
}


/*Css pour le menu*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 80px; /* Hauteur de la barre du menu */
}

.navbar {
    background-color: #343434; 
    height: 80px; /* Hauteur de la barre du menu */
}

.navbar-brand img {
    margin-right: 10px; 
    height: 50px; /* Hauteur du logo */
    margin-left: 40px;
}

.navbar-nav {
    justify-content: flex-end; /* Alignez les éléments à droite */
    align-items: center;
    height: 100%;
    margin-right: 15px; /* Espace entre les liens du menu */
}

    .navbar-nav .nav-link {
        color: white !important; /* Définissez la couleur du texte en blanc */
        font-size: 20px; /* Taille du texte du menu */
        margin-right: 15px; /* Espace entre les liens du menu */
    }

